.App {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-image: url("https://plus.unsplash.com/premium_photo-1667311649805-0d5dc53a713c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
